<%= form_with(model: user, local: true, class: "form-horizontal") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name , class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password,
      class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation,
      id: :user_password_confirmation ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :cash, class:"checkbox-inline" %>
    <%= form.check_box(:cashier) %>
    <%= form.label :grill, class:"checkbox-inline" %>
    <%= form.check_box(:grill) %>
    <%= form.label :line, class:"checkbox-inline" %>
    <%= form.check_box(:line) %>
    <%= form.label :juice, class:"checkbox-inline" %>
    <%= form.check_box(:juice) %>
    <%= form.label :baking, class:"checkbox-inline" %>
    <%= form.check_box(:baking) %>
    <%= form.label :press, class:"checkbox-inline" %>
    <%= form.check_box(:coldpress) %>
  </div>


  <div class="form-group">
    <%= form.label 'status' %>
    <%= form.select :status,  @status, {include_blank:''}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'no availability' %>
    <%= form.text_field :noavailability,  id: 'user_noavailability', class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
