<p id="notice"><%= notice %></p>
<h3 class=weekly-shift>Shift at a glance</h3>
<%= week_calendar number_of_weeks: 1,  
  events: @events do |date,events| %>
  <p class="shift-day circle">
    <%= date.day %>
    <br>
  </p>
  <% events.each do |event| %>
    <p class="shift-name">
      <%=event.name %>
    </p>
    <p class="shift-time">
      <%= rTime(event.start_time) %> -
      <%= rTime(event.end_time) %>
    </p>

    <% end %>
<% end %>
